---
---

@import "{{ site.theme }}";

body{
  font-family: Helvetica;
}

.main-content h1{
  color: rgb(0, 0, 0);
}

.page-header {
background-image: linear-gradient(120deg, #a62929, #1f1599)
}

.main-content {
  max-width: 75%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

td {
  font-size: 12px;
}

th {
  font-size: 15px;
}
